<app-navbar></app-navbar>
<div id="bg">
  <div style="display:flex;">
    <h2 class="pad-12 white">
      Job Postings
    </h2>
    <h4 style="color:rgb(228, 228, 228); margin-left: 24px; padding: 18px;">Applied:</h4>
    <mat-slide-toggle (change)="toggleApplied()" [checked]="false"></mat-slide-toggle>
  </div>
  <div class="centre flex wrap">
    <h2 *ngIf="this.jobs.length == 0">There are no job postings currently. Come back another time!</h2>
    <div class="scrollspy-container">
      <div data-spy="scroll" class="content-box flex" data-offset="0">
        <div class="card item-card shadow mb-5 bg-white rounded flex" *ngFor="let job of jobs">
          <div class="full-size">
            <h5 class="card-header">
              {{job.jobTitle | truncate:25}}
            </h5>
            <div class="card-body">
              <h6 class="card-title">{{job.companyName | truncate:20}}</h6>
              <p class="card-text">
                {{job.description | truncate:260}}
              </p>
            </div>
            <div class="button-lg" (click)="loadPopup(job)">
              Apply
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button class="page-link" (click)="onPageMove(false)">Previous</button>
    </li>
    <li class="page-item" *ngFor="let item of [].constructor(totalPages); let i = index">
      <button class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="onPageMove(true)">Next</button>
    </li>
  </ul>
</div>

<div class="close-popup" (click)="closePopup2($event)" *ngIf="popup">
  <div class="info-card">
    <div class="close-button-bg">
      <div class="close-button" (click)="closePopup1()">X</div>
    </div>
    <app-student-posting-details *ngIf="!this.apply" [selected]="selected"></app-student-posting-details>
    <div class="apply-button" *ngIf="!this.apply" (click)="loadApplication()">Apply Now!</div>
    <app-student-application *ngIf="this.apply" [selected]="selected"></app-student-application>
  </div>
</div>