<div class="card item-card shadow bg-white rounded coverLetterEntry" *ngIf="coverLetter">
  <div class="job-postings card-body">
      <p class="card-text" >{{coverLetter.intro | truncate:15}}</p>
      <div class="posting-button-section">
          <img class="information-button" src="assets/jobPostingDetails.svg" (click)="onClickDetails()">
          <img class="information-button" src="assets/jobPostingDelete.svg" (click)="onClickDelete()">
      </div>
  </div>
</div>
<confirmation-dialog *ngIf="confirm" (onClickEvent)="onConfirmResult($event)"/>
<div class="overlay" *ngIf="displayCoverLetter">
    <div class="coverLetterDisplay">
      <img src="assets/closeBox.png" class="btnClosePopup" (click)="onClickClosePopup()"/>
      <h3>Cover Letter Viewer</h3>
      <hr />
      <p *ngIf="coverLetter?.intro">{{coverLetter?.intro}}</p>
      <br />
      <p *ngIf="coverLetter?.salesPitch1">{{coverLetter?.salesPitch1}}</p>
      <br />
      <p *ngIf="coverLetter?.salesPitch2">{{coverLetter?.salesPitch2}}</p>
      <br />
      <p *ngIf="coverLetter?.salesPitch3">{{coverLetter?.salesPitch3}}</p>
      <br />
      <p *ngIf="coverLetter?.conclusion">{{coverLetter?.conclusion}}</p>
    </div>
</div>
