:host {
  display: contents;
}

.coverLetterEntry {
  width: 96% !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.coverLetterDisplay {
  background-color: rgb(248, 248, 248);
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 10px;
  -webkit-box-shadow: -9px 12px 0px 0px rgba(0,0,0,0.62); 
  box-shadow: -9px 12px 0px 0px rgba(0,0,0,0.62);
  padding: 3%;
  overflow-y: auto;
}

.btnClosePopup {
  width: 20px;
  display: block;
  margin-left: auto;
  margin-right: 0%;
  margin-top: 0%;
}

.btnClosePopup:hover {
  cursor: pointer;
  filter: invert(70%) sepia(96%) saturate(495%) hue-rotate(170deg) brightness(96%) contrast(95%);
}

.coverLetterDisplay p {
  margin-bottom: 2%;
}
