**/.DS_Store
**/*.cache
api/yourscope-api/*.suo
api/yourscope-api/*.user
api/yourscope-api/_ReSharper.*/
api/yourscope-api/*.sdf
**/bin/
**/obj/
api/yourscope-api/Debug/
api/yourscope-api/Release/
api/yourscope-api/*.opensdf
api/yourscope-api/*.tlog
api/yourscope-api/*.log
api/yourscope-api/TestResult.xml
api/yourscope-api/*.VisualState.xml
api/yourscope-api/Version.cs
api/yourscope-api/Version.h
api/yourscope-api/Version.cpp
api/yourscope-api/.vs/
yourscope/.angular/cache/
yourscope/.firebase/*.cache/
yourscope/node_modules/
yourscope/public/
api/yourscope-api/firebase-config.json
/api/yourscope-api/appsettings.json
api/yourscope-api/appsettings.json
.vs
.vscode