@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:host {
    display: contents;
}

.posting-button-section {
    float: right;
}

p {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 50%;
}

.job-postings:hover {
    cursor: default;
}

.information-button {
    margin-left: 5%;
}

.posting-button-section {
    text-align: right;
    width: 15%;
    white-space: nowrap;
}

.information-button:hover {
    cursor: pointer;
    filter: invert(70%) sepia(96%) saturate(495%) hue-rotate(170deg) brightness(96%) contrast(95%);
}

h5 {
    margin-top: 2%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: light;
}

.gifLoad {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 5%;
}

.search {
    padding: 2%;
}

.searchFilter {
    margin-right: 3%;
    display: inline-block;
}

.select-university {
    width: 40%;
}

.information-button {
    width: 20px;
}

.paginationButton:not(.disabled):hover {
    filter: invert(70%) sepia(96%) saturate(495%) hue-rotate(170deg) brightness(96%) contrast(95%);
    cursor: pointer;
}

.paginationButton {
    margin-left: 2%;
    margin-right: 2%;
}

.disabled {
    filter: invert(98%) sepia(74%) saturate(11%) hue-rotate(292deg) brightness(87%) contrast(91%);
    cursor: default !important;
}

.paginationText {
    margin-top: 1.5%;
    vertical-align: middle !important;
}

.invalid-field {
    border-color: red;
}

.lblText {
    color: red;
}

.pagination {
    text-align: center;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
}