.pad-12 {
  padding: 12px;
}

.pad-left-30 {
  padding-left: 30px;
}

.margin-left-10 {
  margin-left: 10px;
}

.pad-right-30 {
  padding-right: 30px;
}

.margin-30 {
  margin: 30px;
}

.item-card {
  width: 360px;
  height: 320px;
  margin: 20px !important;
}

.card-header {
  overflow: hidden;
  max-width: 360px;
}

.card-title {
  overflow: hidden;
  max-width: 360px;
}

.card-text {
  overflow: hidden;
  max-width: 360px;
  max-height: 10.5em;
}

.card-content-1 {
  width: 260px;
  padding: 12px;
  overflow: hidden;
}

.card-content-2 {
  width: 350px;
  padding: 12px;
  overflow: hidden;
}

.card-internal {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.scrollspy-container { 
  overflow: auto;
  width: 90vw;
  height: 90vh;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.col-view {
  width: 400px;
}

.full-size {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.centre {
  align-items: center;
  justify-content: space-around;
}

#bg {
  background: linear-gradient(333deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
  padding-bottom: 40px;
}

.white {
  color: white;
}

.navy {
  color: navy;
}

.bg-navy {
  background-color: rgb(61, 89, 149);
}

.button-lg {
  position: absolute;
  color: white;
  text-align: center;
  width: 120px;
  background-color: rgb(42, 61, 104);
  border-radius: 20px;
  padding: 5px 0;
  text-decoration: none;
  bottom: 15px;
  left: 120px;
}

.button-sm {
  color: white;
  text-align: center;
  width: 120px;
  background-color: rgb(42, 61, 104);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  bottom: 15px;
  left: 120px;
  cursor: pointer;
}

.button-d {
  color: white;
  text-align: center;
  width: 120px;
  background-color: rgb(220, 53, 69);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  bottom: 15px;
  left: 120px;
  cursor: pointer;
}

.close-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #44444491;
}

.info-card {
  background-color: #ffffff;
  position: absolute;
  left: 20vw;
  top: 15vh;
  width: 60vw;
  height: 60vh;
  border-radius: 8px;
}

.button-md {
  color: white;
  background-color: rgb(42, 61, 104);
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
  text-justify: center;
}

.close-button-bg {
  float: right;
  margin-top: 6px;
  margin-right: 6px;
  width: 24px;
  height: 24px;
}

.close-button {
  float: right;
  background-color: #243E6B;
  border-radius: 12px;
  width: inherit;
  height: inherit;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.content-box {
  margin: auto;
}

@media screen and (max-width: 849px) {.content-box { width: 400px; }}
@media screen and (min-width: 850px) and (max-width: 1299px) {.content-box { width: 800px; }}
@media screen and (min-width: 1300px) and (max-width: 1699px) {.content-box { width: 1200px; }}
@media screen and (min-width: 1700px) {.content-box { width: 1600px; }}