#bg{
    background: rgb(2,0,36);
    background: linear-gradient(333deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}

#main-card{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.521);
    width: min(500px, 90vh);
}

#logo{
    width: 200px
}

.invalidField {
    border-color: red;
}

.lblText {
    color: red;
}

.lblInfo {
    margin-bottom: 2%;
}