<div id="bg" class="d-flex justify-content-center align-items-center vh-100">
    <div id="main-card" class="card text-center">
      <div class="card-body p-auto">
        <img id="logo" src="/assets/yourscope.png" alt="YourScope" />
          <p class="lead fs-3">Forgot Password</p>
            <div class="form-group py-2">
                <label>Enter your email address</label>
                <input type="text" class="form-control" placeholder="Email" type="email" [(ngModel)]="email">
            </div>
            <div class="form-group py-2">
                <button (click)="resetPassword()" type="submit" class="btn btn-primary btn-lg">
                  Continue
                </button>
              </div>
        </div>
    </div>
</div>