.pad-12 {
  padding: 12px;
}

.pad-left-30 {
  padding-left: 30px;
}

.margin-left-10 {
  margin-left: 10px;
}

.pad-right-30 {
  padding-right: 30px;
}

.margin-30 {
  margin: 30px;
}

.item-card {
  width: 300px;
  height: 300px;
  margin: 12px;
}

.card-content-1 {
  width: 260px;
  padding: 12px;
}

.card-content-2 {
  width: 350px;
  padding: 12px;
}

.card-internal {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.scrollspy-container { 
  overflow: auto;
  width: 640px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.centre {
  align-items: center;
  justify-content: space-around;
}

#bg {
  background: rgb(110, 197, 239);
  padding-bottom: 40px;
}

.white {
  color: white;
}

.navy {
  color: navy;
}

.bg-navy {
  background-color: rgb(61, 89, 149);
}

.button-sm {
  color: white;
  background-color: rgb(42, 61, 104);
  border-radius: 20px;
  padding: 6px 10px 0px 10px;
  text-decoration: none;
  margin-left: 20px;
  font-size: 12px;
  text-align: center;
  text-justify: center;
}

.button-md {
  color: white;
  background-color: rgb(42, 61, 104);
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
  text-justify: center;
}

.button-lg {
  color: white;
  background-color: rgb(42, 61, 104);
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  margin: 50px;
}
