.pad-12 {
  padding: 12px;
}

.margin-30 {
  margin: 0px 30px 0px 30px;
}

.item-card { 
  margin: 12px;
}

.job-postings {
  display: flex;
  justify-content: space-between;

  img {
    width: 24px;
    height: 24px;
  }
}

.postings {
  height: calc(100vh - 200px);
}

.card-text {
  text-decoration: none;
  color: black;
}

.scrollspy-container { 
  overflow: auto;
  width: 100%;
  height: calc(100% - 50px);
}

.flex {
  display: flex;
}

#bg {
  background: rgb(110, 197, 239);
  height: calc(100vh - 67px);
  padding-bottom: 40px;
}

.white {
  color: white;
}

.navy {
  color: navy;
}

.bg-navy {
  background-color: rgb(61, 89, 149);
}

.justify-line {
  display: flex;
  justify-content: space-between;
}

.create-button {
  text-decoration: none;
  text-align: center;
  line-height: 25px;
  vertical-align: top;
  width: 42px;
  height: 42px;
  font-size: 50px;
  font-weight: 1000;
  color: #5DA44B;
  cursor: pointer;

  &:hover {
    color: #257212;
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #44444491;
}

.information-button {
  cursor: pointer;

  &:hover {
    filter: invert(70%) sepia(96%) saturate(495%) hue-rotate(170deg) brightness(96%) contrast(95%); // This is crazy btw
  }
}

.info-card {
  background-color: #ffffff;
  position: absolute;
  left: 20vw;
  top: 15vh;
  width: 60vw;
  height: 60vh;
  border-radius: 8px;
}

.close-button-bg {
  float: right;
  margin-top: 6px;
  margin-right: 6px;
  width: 24px;
  height: 24px;
}

.close-button {
  float: right;
  background-color: #243E6B;
  border-radius: 12px;
  width: inherit;
  height: inherit;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.posting-button-section {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.card-title {
  white-space: nowrap;
  margin-right: 24px;
}

.job-pages {
  display: flex;
  width: fit-content;

  img {
    margin-top: 2px;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
  }

  p {
    margin: 4px 8px;
    white-space: nowrap;
  }
}

.cant-click {
  filter: invert(98%) sepia(74%) saturate(11%) hue-rotate(292deg) brightness(87%) contrast(91%);
  cursor: default !important;
}

.yes-button {
  width: 90px;
  height: 50px;
  background-color: #243E6B;
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.no-button {
  width: 90px;
  height: 50px;
  background-color: rgb(94, 94, 94);
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.button-view {
  color: white;
  text-align: center;
  width: 150px;
  height: 20px;
  background-color: rgb(42, 61, 104);
  border-radius: 20px;
  padding: 0px 0px 10px 0px;
  margin: 3px ;
  font-size: 90%;
}