.inner-card {
  background-color: #F5F5F5;
  box-shadow: 0 4px 4px 0 #00000040 inset;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  margin: 24px auto;
  border-radius: 32px;
}

.popup-title {
  padding: 0 24px;
  padding-top: 24px;
}

h1 {
  padding-bottom: 12px;
  border-bottom: solid 3px;
}

h3 {
  margin: 6px 24px;
}

p {
  margin: 24px;
  font-size: 18px;
}

.button-lg {
  color: white;
  text-align: center;
  width: 120px;
  background-color: rgb(42, 61, 104);
  border-radius: 20px;
  padding: 5px 0;
  text-decoration: none;
  bottom: 15px;
  left: 120px;
}

.flex {
  display: flex;
}

.centre {
  align-items: center;
  justify-content: space-around;
}