.inner-card {
  background-color: #F5F5F5;
  box-shadow: 0 4px 4px 0 #00000040 inset;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  margin: 24px auto;
  border-radius: 32px;
}

.inner-card-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 0;
  overflow: scroll;
}

.card-details {
  width: calc(100% - 48px);
  margin: auto;
}

.long {
  height: 360px;
  text-align: left;
}

.btn {
  display: block;
  margin: auto;
  margin-top: 36px;
}

h1 {
  padding-bottom: 12px;
  border-bottom: solid 3px;
}

label {
  font-size: 20px;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
}

::-webkit-scrollbar-corner {
  background-color: #00000000;
}