<div id="bg" class="d-flex justify-content-center align-items-center vh-100">
    <div id="main-card" class="card text-center">
      <div class="card-body p-auto">
        <img id="logo" src="/assets/yourscope.png" alt="YourScope" />
          <p class="lead fs-3">New Course</p>
          <p>If you enter a course code that already exists, the course will be added, but the course information will not be updated.</p>
          <div class="form-group py-2">
            <input type="text" class="form-control" placeholder="Course Code" [(ngModel)]="code">
          </div>
          <div class="form-group py-2">
            <input type="text" class="form-control" placeholder="Course Name" [(ngModel)]="name">
          </div>
          <div class="form-group py-2">
            <input type="text" class="form-control" placeholder="Discipline" [(ngModel)]="discipline">
          </div>
          <div class="form-group py-2">
            <input type="text" class="form-control" placeholder="Course Type" [(ngModel)]="type">
          </div>
          <div class="form-group py-2">
            <input type="text" class="form-control" placeholder="Grade" [(ngModel)]="grade">
          </div>
          <div class="form-group py-2">
            <input type="text" class="form-control" placeholder="Number of Credits" [(ngModel)]="credits">
          </div>
          <div class="form-group py-2">
            <textarea type="text" class="form-control" placeholder="Description" [(ngModel)]="description"></textarea>
          </div>
          <div class="form-group py-2">
            <textarea type="text" class="form-control" placeholder="Prerequisites (comma seperated)" [(ngModel)]="prerequisites"></textarea>
          </div>
          <div class="form-group py-2">
            <button (click)="save()" type="submit" class="btn btn-primary button-lg ">
              Save
            </button>
            <button [routerLink]="['/admin/courses']" class="btn button-lg">
              Cancel
            </button>
          </div>
  </div>
</div>